{# @var session \craft\web\Session  #}

{# Display flash messages from last submission #}
{% set session = craft.app.session %}

{% if session.success %}
    <div class="bg-success p-4 rounded-md mb-8 text-white">
        <span>{{ session.success|t }}</span>
    </div>
{% endif %}

{% if session.error %}
    <div class="bg-error p-4 rounded-md mb-8 text-white">
        <span>{{ session.error|t }}</span>
    </div>
{% endif %}